<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Shop Details</h2>
<div th:if="${successMessage}">
    <div th:text="${successMessage}" />
</div>

<div th:if="${errorMessage}">
    <div th:text="${errorMessage}" />
</div>
<br>
<ul>
    <li><span>Name:</span> <span th:text="${shop.name}"></span></li>
    <li><span>Address:</span> <span th:text="${shop.address}"></span></li>
    <li><span>Revenue:</span> <span th:text="${shop.revenue}"></span></li>
    <li><span>Opening time:</span> <span th:text="${shop.openingTime}"></span></li>
    <li><span>Closing time:</span> <span th:text="${shop.closingTime}"></span></li>
    <ul>
        <li th:each="food : ${shop.food}">
            <span th:text="${food.name}"></span>
            (<a th:href="@{/food/{id}(id=${food.id})}">Details</a>)
            (<a th:href="@{/shop/removeFood/{id}/{foodId}(id=${shop.id}, foodId=${food.id})}">Remove from shop</a>)
        </li>
    </ul>
    <br>
    (<a th:href="@{/shop/edit/{id}(id=${shop.id})}">Edit</a>)
    (<a th:href="@{/shop/delete/{id}(id=${shop.id})}">Delete</a>)
</ul>
<a th:href="@{/shop/addFood/{id}(id=${shop.id})}">Add food</a>
<br>
<a th:href="@{/shop/}">Back to List</a>
</body>
</html>