<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Edit Food</h2>
<form th:action="@{/food/edit/{id}(id=${food.id})}" th:object="${food}" method="post" autocomplete="off" id="editForm">
  <!--<input type="hidden" th:field="*{id}" />!-->
  <!--<label>ID: <input type="text" th:field="*{id}" readonly /></label><br/>!-->

  <label>Name: <input type="text" th:field="*{name}" /></label><br/>
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>

  <label>Calories: <input type="number" th:field="*{calories}" /></label><br/>
  <span th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}"></span><br/>

  <label>IsVegetarian: <input type="checkbox" th:field="*{isVegetarian}" /></label><br/>
  <span th:if="${#fields.hasErrors('isVegetarian')}" th:errors="*{isVegetarian}"></span><br/>

  <label>ExpirationDate: <input type="date" th:field="*{expirationDate}" /></label><br/>
  <span th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}"></span><br/>

  <button type="submit">Update Food</button>
</form>
<a th:href="@{/food/}">Back to List</a>
</body>
</html>
