<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h2>All Food</h2>
<div th:if="${successMessage}">
    <div th:text="${successMessage}" />
</div>

<div th:if="${errorMessage}">
    <div th:text="${errorMessage}" />
</div>

<ul>
    <li th:each="food : ${foodList}">
        <span th:text="${food.name}"></span>
        (<a th:href="@{/edit/{id}(id=${food.id})}">Edit</a>)
        (<a th:href="@{/delete/{id}(id=${food.id})}">Delete</a>)
    </li>
</ul>
<a th:href="@{/add}">Add Food</a>
</body>
</html>
