<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="khasdfhasdf223" class="com.lab3.zad1.domain.Person">
        <property name="id" value="khasdfhasdf223" />
        <property name="firstName" value="Malenia" />
        <property name="lastName" value="BladeOfMiquella" />
        <property name="email" value="m@gmail.com" />
        <property name="birthYear" value="999" />
    </bean>

    <bean id="khasdfhasdf224" class="com.lab3.zad1.domain.Person">
        <property name="id" value="khasdfhasdf224" />
        <property name="firstName" value="Radagon" />
        <property name="lastName" value="OfTheGoldenOrder" />
        <property name="email" value="r@gmail.com" />
        <property name="birthYear" value="968" />
    </bean>

    <bean id="khasdfhasdf225" class="com.lab3.zad1.domain.Person">
        <property name="id" value="khasdfhasdf225" />
        <property name="firstName" value="Miquella" />
        <property name="lastName" value="OfTheHaligtree" />
        <property name="email" value="miq@gmail.com" />
        <property name="birthYear" value="997" />
    </bean>

    <!--<bean class="com.lab3.zad1.domain.Person">
        <constructor-arg name="id" value="khasdfhasdf223" />
        <constructor-arg name="firstname" value="Malenia" />
        <constructor-arg name="lastName" value="BladeOfMiquella" />
        <constructor-arg name="email" value="m@gmail.com" />
        <constructor-arg name="birthYear" value="999" />
    </bean>

    <bean class="com.lab3.zad1.domain.Person">
        <constructor-arg name="id" value="khasdfhasdf224" />
        <constructor-arg name="firstname" value="Radagon" />
        <constructor-arg name="lastName" value="OfTheGoldenOrder" />
        <constructor-arg name="email" value="r@gmail.com" />
        <constructor-arg name="birthYear" value="968" />
    </bean>

    <bean class="com.lab3.zad1.domain.Person">
        <constructor-arg name="id" value="khasdfhasdf225" />
        <constructor-arg name="firstname" value="Miquella" />
        <constructor-arg name="lastName" value="OfTheHaligtree" />
        <constructor-arg name="email" value="miq@gmail.com" />
        <constructor-arg name="birthYear" value="997" />
    </bean>!-->


</beans>
