<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h2>All Shops</h2>
<div th:if="${successMessage}">
    <div th:text="${successMessage}" />
</div>

<div th:if="${errorMessage}">
    <div th:text="${errorMessage}" />
</div>

<ul>
    <li th:each="shop : ${shopList}">
        <span th:text="${shop.name}"></span>
        (<a th:href="@{/shop/{id}(id=${shop.id})}">Details</a>)
        (<a th:href="@{/shop/edit/{id}(id=${shop.id})}">Edit</a>)
        (<a th:href="@{/shop/delete/{id}(id=${shop.id})}">Delete</a>)
    </li>
</ul>
<a th:href="@{/shop/add}">Add Shop</a>
<br>
<a th:href="@{/shop/findShop}">Search Shops</a>
<br>
<a th:href="@{/}">Main</a>
</body>
</html>
